@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/histora-beralin');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-raleway: 'Raleway', sans-serif;
    --font-family-histora: 'Histora Beralin', sans-serif;
    --fonte-family-maiandraGd: 'Maiandra GD','maiandra-gd-regular', 'sans-serif';
    --font-size-xSmall: 14px;
    --font-size-small: 20px;
    --font-size-medium: 22px;
    --font-size-large: 28px;
    --font-size-xLarge: 96px;
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-primary: #FFF3C3;
    --color-secondary: #3A59FF;
}

body {
    background-color: var(--color-primary);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.left-menu {
    color: var(--color-dark);
    font-size: var(--font-size-small);
    font-family: var(--font-family-raleway);
    font-weight: 500;
    list-style-type: none;
    display: flex;
    gap: 90px
}

.left-menu li:nth-child(1) {
    color: var(--color-secondary);
}

.logo {
    font-family: var(--fonte-family-maiandraGd);
    font-size: var(--font-size-large);
    letter-spacing: 1.305em;
    width: 171px;
}

.right-menu {
    font-size: var(--font-size-small);
    font-family: var(--font-family-raleway);
    font-weight: 500;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px
}

.right-menu li:nth-child(2) {
    color: var(--color-secondary);
    background-color: #D9D9D9;
    padding: 6px 27px 7px 26px;
    border-radius: 20px;
}

.image {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-arrow {
    position: absolute;
    left: 30px;
    top: 50%;
    bottom: 50%;
}

.right-arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    bottom: 50%;
}